body{
  background-color: #ffffff;
}
#painelFormulario{
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  background-color: #000000;
  color: #000000;
  width: 600px;
  height: 400px;
  margin: 200px auto;
  padding: 20px;
}
#painelFormulario h1{
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 25px;
}
#painelFormulario table select{
  width: 200px;
}
#painelformulario tr{
  height: 35px;
}
#painelFormulario table tr td div{
  float: right;
}
#painelFormulario table tr td label{
  float: right;
}
#painelFormulario .campo-texto{
  border: 1px solid #000;
  background-color: #000000;
  color: #000000;
  width: 200px;
}
label.error{
  background-color: red;
  color: #000000;
  margin-left: 5px;
  padding: 0 5px 0;
  position: absolute;
}
